# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
.google.token
.google_maps_location_sharing.cookies.hickoryhome19_gmail_com
/esphome
cameras.yaml
google_calendars.yaml
/themes
/deps
/node_red
/nest
/tts
/prep


# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.yaml

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
.google_maps_location_sharing.cookies
